.searchBar{
    background-color: #294056 !important;
    border: none !important;
    border-radius: 0.5rem !important;
  }
  .searchBar::placeholder{
    color:#F3F4F5!important;
  }
  .searchBar:focus, .btn:focus{
    background-color: #3a4957 !important;
    border: none !important;
    border-radius: 0.5rem !important;
    outline: none !important;
    box-shadow: none!important;
  }

  .loader{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-100px;
    margin-top:-50px
}

/* .imagenes{
  width: 100%;
  height: 165px;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
} */