*{
  font-family: 'Nunito', sans-serif;
  background-color: #1B334A;
}

.amarillo{
  color: #FFDD55 !important;
}

/*MEDIA QUERIES*/
/*X-SMALL DEVICES */
@media all and (max-width: 576px) {
  .appMargin{
    margin: 0.5rem 1rem 2rem 1rem;
  }
  .noxs{
    display:none
  }
}

/*SMALL DEVICES*/
@media all and (min-width: 576px) and (max-width: 767px) {
  .appMargin{
    margin: 0.5rem 1rem 2rem 1rem;
  }
  .nosm{
  display:none}
}

/*MEDIUM DEVICES*/
@media all and (min-width: 767px) and (max-width: 991px) {
  .appMargin{
    margin: 0.5rem 3rem 2rem 3rem;
  }
  .nomd{
  display:none}
}
/*LARGE DEVICES*/
@media all and (min-width: 991px) and (max-width: 1200px) {
  .appMargin{
    margin: 0.5rem 3rem 2rem 3rem;
  }
  .nolg{
  display:none}
}

/*XTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
  .appMargin{
    margin: 0.5rem 3rem 2rem 3rem;
  }
  .noxl{
  display:none}
}
